<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.storage.mapper.AttachmentMapper">
    <resultMap id="BaseResultMap" type="com.heima.modules.po.AttachmentPO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="lenght" jdbcType="INTEGER" property="lenght"/>
        <result column="ext" jdbcType="VARCHAR" property="ext"/>
        <result column="md5" jdbcType="VARCHAR" property="md5"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="REVISION" jdbcType="INTEGER" property="revision"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, url, lenght, ext, md5, status, REVISION, CREATED_BY,
    CREATED_TIME, UPDATED_BY, UPDATED_TIME
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_attachment
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectByMd5" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_attachment
        where md5 = #{md5,jdbcType=VARCHAR}
    </select>


    <select id="selectList" parameterType="com.heima.modules.po.AttachmentPO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_attachment
        <where>
            <if test="id!=null and id!=''">
                and id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="name!=null and name!=''">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="ext!=null and ext!=''">
                and ext = #{ext,jdbcType=VARCHAR}
            </if>
            <if test="md5!=null and md5!=''">
                and md5 = #{md5,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=TINYINT}
            </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_attachment
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.heima.modules.po.AttachmentPO">
        insert IGNORE into t_attachment (id,`name`, url, lenght,
        ext, md5, status, REVISION,
        CREATED_BY, CREATED_TIME, UPDATED_BY,
        UPDATED_TIME)
        values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{lenght,jdbcType=INTEGER},
        #{ext,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR},  #{status,jdbcType=TINYINT}, #{revision,jdbcType=INTEGER},
        #{createdBy,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR},
        #{updatedTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.heima.modules.po.AttachmentPO">
        insert IGNORE into t_attachment

        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="lenght != null">
                lenght,
            </if>
            <if test="ext != null">
                ext,
            </if>
            <if test="md5 != null">
                md5,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="revision != null">
                REVISION,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="createdTime != null">
                CREATED_TIME,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY,
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{id,jdbcType=VARCHAR}
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="lenght != null">
                #{lenght,jdbcType=INTEGER},
            </if>
            <if test="ext != null">
                #{ext,jdbcType=VARCHAR},
            </if>
            <if test="md5 != null">
                #{md5,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="revision != null">
                #{revision,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.heima.modules.po.AttachmentPO">
        update t_attachment
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="lenght != null">
                lenght = #{lenght,jdbcType=INTEGER},
            </if>
            <if test="ext != null">
                ext = #{ext,jdbcType=VARCHAR},
            </if>
            <if test="md5 != null">
                md5 = #{md5,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="revision != null">
                REVISION = #{revision,jdbcType=INTEGER},
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="createdTime != null">
                CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.heima.modules.po.AttachmentPO">
    update t_attachment
    set name = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      lenght = #{lenght,jdbcType=INTEGER},
      ext = #{ext,jdbcType=VARCHAR},
      md5 = #{md5,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      REVISION = #{revision,jdbcType=INTEGER},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=TIMESTAMP},
      UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
      UPDATED_TIME = #{updatedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>