<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jiagoubaiduren.mapper.store.StoreMapper">

    <select id="getOrderById" resultType="jiagoubaiduren.po.Store">
        select * from t_store where id=#{storeId}
    </select>

</mapper>